<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tobyrich.dev.hangarapp.lib">
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <service android:name="com.tobyrich.dev.hangarapp.lib.connection.BluetoothService">
            <intent-filter>
                <action android:name="com.tobyrich.dev.hangarapp.lib.connection.BluetoothService"></action>
            </intent-filter>
        </service>
    </application>

</manifest>
