<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tobyrich.dev.hangarapp" >

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:screenOrientation="landscape"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.MainMenuActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.StatisticsActivity"
            android:label="@string/title_activity_statistics"
            android:parentActivityName=".activities.MainMenuActivity"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainMenuActivity" />
        </activity>
        <activity
            android:name=".activities.BatteryDataActivity"
            android:label="@string/title_activity_battery_data"
            android:parentActivityName=".activities.MainMenuActivity"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainMenuActivity" />
        </activity>
        <activity
            android:name=".activities.FactoryTestActivity"
            android:label="@string/title_activity_factory_test"
            android:parentActivityName=".activities.MainMenuActivity"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainMenuActivity" />
        </activity>
        <activity
            android:name=".activities.CalibrateSensorsActivity"
            android:label="@string/title_activity_calibrate_sensors"
            android:parentActivityName=".activities.MainMenuActivity"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainMenuActivity" />
        </activity>
        <activity
            android:name=".activities.LimitSetupActivity"
            android:label="@string/title_activity_limit_setup"
            android:parentActivityName=".activities.MainMenuActivity"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainMenuActivity" />
        </activity>
        <activity
            android:name=".activities.AchievementsActivity"
            android:label="@string/title_activity_achievements"
            android:parentActivityName=".activities.MainMenuActivity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tobyrich.dev.hangarapp.activities.MainMenuActivity" />
        </activity>
    </application>

</manifest>
